#filters button {
  background: white;
  color: black;
  border: 1px solid black;
}

#filters button:hover {
  background: black;
  color: white;
}

#filters button:active,
#filters button.is-checked {
  background-color: black;
  color: white;
}
